<!doctype html>
<html lang="en" ng-app="scheduleApp">
<head>
  <meta charset="utf-8">
  <title>FMI Calendar</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="lib/css/bootstrap.css">
  <link rel="stylesheet" href="lib/css/fullcalendar.css">

  <!-- <script src="lib/jquery/jquery&#45;1.10.2.js"></script> -->
  <!-- <script src="lib/js/fullcalendar.min.js"></script> -->
  <!-- <script src="lib/js/main.js"></script> -->
  <!-- <script src="lib/angular/angular.js"></script> -->
  <!-- <script src="lib/angular/angular&#45;animate.js"></script> -->
  <!--  -->
  <!-- <script src="lib/angular/angular&#45;route.js"></script> -->
  
  <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
  <script type="text/javascript" src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="lib/angular/angular-route.js"></script>
  <script type="text/javascript" src="lib/angular/angular-resource.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/fullcalendar.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/gcal.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body>

		<iframe id="remoteData" style="display:none;" src="http://nameless-scrubland-8958.herokuapp.com/rest-api/schedule/"></iframe>
	<div id="main_panel">
		<div id="panel_right">
			<div class="header">
				<img src="img/hf.png" alt="HackFMI" width="132" height="32 margin-left: auto margin-right: auto">
			</div>
			<div id="menu_panel" ng-controller="ScheduleMenuCtrl">
		  	<ul class="menu">
		    	<li ng-repeat="history_elem in history">
		      	<button class="btn btn-info btn-block" style="font-family: 'Belleza', cursive;" ng-click="setRootLevel(history_elem)">{{history_elem}}</button>
		    	</li>
		    	<input class="input-medium search-query glowing-border" style="width:80%;" placeholder="филтрирай менюто" ng-model="query"/>
		    	<li ng-repeat="(key, value) in root | keyfilter:query">
		      	<button class="btn btn-info btn-block" ng-click="setRootLevel(key)">{{key}}</button>
		    	</li> 
		  	</ul>
			</div>
		</div>  
		<div class="callendar_panel">
			<div ng-controller="EventCtrl">
		 		<div id="calendar" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
			</div>
		</div>
		
		<div id="info_panel">
			</br></br></br>
			<div class="info shadow">
				info
			</div>
			</br></br>
			<div class="comments shadowInner">
				comment
			</div>
		</div>
	</div>
	
  <div id="footer_panel">
		<center>
			&copy; DeltaEpsilon &copy;
		</center>
	</div>
</body>
</html>
